.app-container {
    .header-container {
      .btn-login {
        border-radius: 5px;
        margin-right: 15px;
        padding: 0 15px;
        border: 1px solid #535353;
        height: 40px;
      }
      .btn-signup {
        border-radius: 5px;
        margin-right: 15px;
        padding: 0 15px;
        border: 1px solid #535353;
        background-color: #303030;
        color: white;
        height: 40px;
        &:hover{
          background-color: black;
        }
      }
      .navbar {
        padding-top: 20px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0) !important;
        .nav-link{
          &.active {
            color: rgb(78, 178, 236);
          }
        }
      }
    }
    .main-container{
      .app-content{
        .homepage-container{
          display: flex;
          justify-content: center;
          margin-top: 100px;
          .homepage-content{
            margin-left: 50px;
            width: 50%;
            .title-1{
              font-size: 80px;
            }
            .title-2{
              font-size: 20px;
              margin: 20px 0;
            }
            .title-3 button{
              border-radius: 5px;
              margin-right: 15px;
              padding: 0 15px;
              border: 1px solid #535353;
              background-color: #303030;
              color: white;
              height: 40px;
              border: none;
              &:hover{
                background-color: black;
              }
            }
          }
          video {
            height: 500px;
            margin-right: 20px;
          }
        }
      }
    }
  }

  @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1800px;
    }
  }